<!DOCTYPE html>
<html>
  <head>
    <title><%=content_for(:page_title)?content_for(:page_title):"Rails App"%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container px-0 bg-white" style="height: 100vh;" >
      <%= render partial:"layouts/navbar"%>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="px-2">
        <%= yield %>
      </div>
    </div>
    <%= render partial:"layouts/footer"%>
  </body>
</html>
